body{
    margin: 0px;
    background-color: #d3d9d4;
}

main{
    margin: 20px;
}

h1{
     text-align:center;
}
.navbar ul {
    list-style-type: none;
    background-color: #2e3944;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: 0px;
    padding: 15px 25px;
    display: inline-block;
}

.navbar a:hover {
    background-color: #212a31;
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.section2{
    width: 85%;
}

header{
    background-color:#2e3944;
    color: #fff;
    padding: 1px;
    text-align: center;
    box-shadow: 0 4px 2px -2px gray;
}

